 <!-- Navigation-->
 <!DOCTYPE html>
 <html lang="en">
    <body>
        <div class="masthead bg-primary">   
                <div class="search-div">
                    <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
                    <div class="row">
                        <div *ngIf="currentFile" class="progress my-3">
                            <div
                                class="progress-bar progress-bar-info progress-bar-striped"
                                role="progressbar"
                                attr.aria-valuenow="{{ progress }}"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                [ngStyle]="{ width: progress + '%' }">
                            {{ progress }}%
                            </div>
                        </div>
                    </div>
                      <div class="card mt-3">
                        <div class="card-header">List of Files</div>
                        <ul
                          class="list-group list-group-flush"
                          *ngFor="let file of fileInfos | async"
                        >
                          <li class="list-group-item">
                            <a href="{{ file.url }}">{{ file.name }}</a>
                          </li>
                        </ul>
                      </div>


                    <button class="icon" mat-icon-button>
                        <mat-icon (click)="onUploadFile()">cloud_upload</mat-icon>
                    </button>
                    <input class="inputfilter" matInput placeholder="Filter Table" search (keyup)="applyFilter($event)" #input/>
                </div>
                <div class="bg-primary">
                    <table class="table-primary table table-striped" mat-table matSort [dataSource]="dataSource">
                        <ng-container matColumnDef="ID">
                            <th *matHeaderCellDef> # </th>
                            
                            <td class="center" *matCellDef="let col">
                                {{col.ID}}
                            </td>
                        </ng-container>
                        
                        <ng-container  matColumnDef="PO_NUMBER">
                            <th *matHeaderCellDef> PO Number </th>
                            <td class="center" *matCellDef="let col"> {{col.PO_Number}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Reason">
                            <th *matHeaderCellDef> Reason </th>
                            <td class="center" *matCellDef="let col">
                                <select name="select">
                                    <option (click)="observerReasonOpt(1)" selected>1</option>
                                    <option (click)="observerReasonOpt(2)">2</option>
                                    <option (click)="observerReasonOpt(3)">Other</option>
                                </select>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Other">
                            <th *matHeaderCellDef> Comments </th>
                            <td class="center" *matCellDef="let col">
                                <textarea id=enableTextA name="textarea" rows="1" cols="40">Comments</textarea>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Date_CSM_Processed">
                            <th *matHeaderCellDef> Data CSM Processed </th>
                            <td class="center" *matCellDef="let col">  
                                <input type="date">    
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Upload_PDF">
                            <th class="marg-th" *matHeaderCellDef>Upload PDF</th>
                            <td class="center" *matCellDef="let col">
                                <div ng-controller="AppCtrl" layout-margin layout-padding>
                                    <choose-file layout="row" flex="50">
                                        <input id="fileInput" type="file" class="ng-hide" name="File" (change)="onFileSelected($event)">
                                        <md-input-container flex class="md-block">
                                            <input type="text" ng-model="fileName" hidden>
                                        </md-input-container>           
                                    </choose-file>      
                                </div>
                            </td>  
                        </ng-container>

                        <ng-container matColumnDef="Action">
                            <th class="marg-th" *matHeaderCellDef> Action </th>
                            <td class="center" *matCellDef="let col">
                                <i class="marg-3 material-icons" (click)="getDeleteID(col.ID)" (click)="openDialog('0ms', '0ms')">delete</i>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
                        <tr mat-row *matRowDef="let col; columns: displayedColumn"></tr>

                        <!-- SHOWS WHEN DATA DOES NOT EXIST -->
                        <tr *matNoDataRow>
                        <td class="mat-cell" colspan = "4" > The filter does not match any
                        item in the data for this text {{input.value}} </td>
                        </tr>
                    </table>
                    <mat-paginator class="bg-primary" [pageSizeOptions]="[10,20,30,40,50]" aria-labels="select page of data">
                    </mat-paginator>
                </div>
          
        </div>
    </body>
 </html>

 

