 <!-- Navigation-->
 <!DOCTYPE html>
 <html lang="en">
    <body>
        <div class="masthead bg-primary">   
                <div class="search-div">
                    <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
                    <div class="row" hidden>
                        <div *ngIf="currentFile" class="progress my-3">
                            <div
                                class="progress-bar progress-bar-info progress-bar-striped"
                                role="progressbar"
                                attr.aria-valuenow="{{ progress }}"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                [ngStyle]="{ width: progress + '%' }">
                            {{ progress }}%
                            </div>
                        </div>
                    </div>
                      <div class="card mt-3" hidden>
                        <div class="card-header">List of Files</div>
                        <ul
                          class="list-group list-group-flush"
                          *ngFor="let file of fileInfos | async"
                        >
                          <li class="list-group-item">
                            <a href="{{ file.url }}">{{ file.name }}</a>
                          </li>
                        </ul>
                      </div>
                    
                    <button type="button" class="icon" mat-icon-button>
                        <mat-icon (click)="openAddDialog('0ms', '0ms')">add_box</mat-icon>
                    </button>  
                   
                    <button type="button" class="icon" mat-icon-button hidden>
                        <mat-icon>cloud_upload</mat-icon>
                    </button>
                    <input type="text" class="inputfilter" matInput placeholder="Filter Table" search (keyup)="applyFilter($event)" #input/>
                </div>
                <div class="bg-primary">
                    <table class="table-primary table table-striped" mat-table matSort [dataSource]="dataSource">
                        <ng-container matColumnDef="ID">
                            <th *matHeaderCellDef> # </th>  
                            <td class="center" *matCellDef="let col">
                                <p class="align-center"> {{col.ID}} </p>
                            </td>
                        </ng-container>
                        <ng-container  matColumnDef="PO_NUMBER">
                            <th *matHeaderCellDef> PO Number </th>
                            <td class="center" *matCellDef="let col">
                                <p class="align-center">{{col.PO_Number}}</p> 
                            </td>
                        </ng-container>
                        <form [formGroup]="cmsUpdateForm">
                            <ng-container matColumnDef="Reason">
                                <th *matHeaderCellDef> 
                                    Reason 
                                    <mat-error *ngIf="isValidField('reason')">
                                        {{getErrorMessage("reason")}}
                                    </mat-error>
                                </th>
                                <td class="center" *matCellDef="let col">
                                    <mat-form-field class="full-width-input">
                                        <mat-label>Select reason</mat-label>
                                        <mat-select formControlName="reason">   
                                            <mat-option (click)="otherOption('disable')" value="Opcion 1">1</mat-option>
                                            <mat-option (click)="otherOption('disable')" value="Opcion 2">2</mat-option>
                                            <mat-option (click)="otherOption('enable')" value="Other">Other</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Comment">
                                <th *matHeaderCellDef> 
                                    Comment
                                    <mat-error *ngIf="isValidField('comment')">
                                        {{getErrorMessage("comment")}}
                                    </mat-error>
                                </th>
                                <td class="center" *matCellDef="let col">
                                    <mat-form-field class="full-width-input">
                                        <mat-label>comment</mat-label>
                                        <textarea [(ngModel)]="comment" matInput formControlName="comment" rows="1" cols="40">Comment</textarea>
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Date_CSM_Processed">
                                <th *matHeaderCellDef> 
                                    Data CSM Processed 
                                    <mat-error *ngIf="isValidField('cmsDate')">
                                        {{getErrorMessage("cmsDate")}}
                                    </mat-error>
                                </th>
                                <td class="center" required *matCellDef="let col">  
                                    <mat-form-field class="full-width-input">
                                        <mat-label>Date</mat-label>
                                        <input matInput formControlName="cmsDate" type="datetime-local" max="{{today}}">   
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Upload_PDF">
                                <th *matHeaderCellDef>
                                    Upload PDF
                                    <mat-error *ngIf="isValidField('file')">
                                        {{getErrorMessage("file")}}
                                    </mat-error>
                                </th>
                                <td class="center" *matCellDef="let col">
                                    <div class="align-center" ng-controller="AppCtrl" layout-margin layout-padding>
                                        <choose-file layout="row" flex="50">
                                            <input id="fileInput" formControlName="file" type="file" class="ng-hide" name="File" (change)="onFileSelected($event)">
                                        </choose-file>      
                                    </div>
                                    <md-input-container flex class="md-block" hidden>
                                        <mat-form-field>
                                            <input matInput type="text" formControlName="PDF_Name" value={{fileName}} ng-model="fileName">
                                        </mat-form-field>
                                    </md-input-container>
                                </td>  
                            </ng-container>

                            <ng-container matColumnDef="Actions">
                                <th class="marg-th" *matHeaderCellDef> Actions </th>
                                <td class="center" *matCellDef="let col">
                                    <button 
                                    class="btn-action"
                                    type="submit"
                                    (click)="onUpdate(col.ID)"
                                    [disabled]="cmsUpdateForm.invalid"
                                    mat-icon-button>
                                        <mat-icon>cloud_upload</mat-icon>
                                    </button>
                                    <button class="btn-action" *ngIf="rol === 'administrator'" type="button" mat-icon-button>
                                        <mat-icon (click)="openDeleteDialog(col.ID,'0ms', '0ms')">delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                        </form>

                        <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
                        <tr mat-row *matRowDef="let col; columns: displayedColumn"></tr>

                        <!-- SHOWS WHEN DATA DOES NOT EXIST -->
                        <tr *matNoDataRow>
                            <td class="mat-cell" colspan = "10" >      
                                <strong>You have no pending purchase orders <p *ngIf="input.value"> with this text: {{input.value}}</p></strong> 
                            </td>
                        </tr>
                    </table>
                    <mat-paginator class="bg-primary" [pageSizeOptions]="[10,20,30,40,50]" aria-labels="select page of data">
                    </mat-paginator>
                </div>
          
        </div>
    </body>
 </html>

 

