<!-- Navigation-->
 <!DOCTYPE html>
 <html>
    <body>
        <div class="masthead bg-primary">
            <div class="search-div">
                    <button class="icon" mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon >assessment</mat-icon>
                        <mat-menu #menu="matMenu" >
                            <button mat-menu-item>
                                <mat-icon>label_important</mat-icon>
                                <a href="./cms/performance"><span>CMS Performance</span></a>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>label_important</mat-icon>
                                <a href="./qb/performance"><span>QB Performance</span></a>
                            </button>
                        </mat-menu>
                    </button>          
                    <input class="inputfilter" matInput placeholder="Filter Table" search (keyup)="applyFilter($event)" #input/>
            </div>  
            <div>
                <table class="table-primary table table-striped" mat-table matSort [dataSource]="dataSource">
                    <ng-container matColumnDef="ID">
                        <th *matHeaderCellDef mat-sort-header> # </th>
                        
                        <td *matCellDef="let row"> {{row.ID}}
                            <a href="./rol"><mat-icon href="./rol" *ngIf="">announcement</mat-icon></a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="PO_Number">
                        <th *matHeaderCellDef mat-sort-header> PO Number </th>
                        <td *matCellDef="let row">
                            <a href="./cms/detail/{{row.PO_Number}}"> {{row.PO_Number}} </a> 
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Date_CSM_Processed">
                        <th *matHeaderCellDef mat-sort-header> Date CSM Processed </th>
                        <td *matCellDef="let row">{{row.Date_CSM_Processed}} </td>
                    </ng-container>
                    <ng-container matColumnDef="PDF_Name">
                        <th *matHeaderCellDef mat-sort-header> Lab Results PDF </th>
                        <td *matCellDef="let row">{{row.PDF_Name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="NamePDF">
                        <th *matHeaderCellDef mat-sort-header> Final PDF Name </th>
                        <td *matCellDef="let row">{{row.NamePDF}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Invoice_Number">
                        <th *matHeaderCellDef mat-sort-header> Invoice </th>
                        <td *matCellDef="let row"><a href="./qb/detail/{{row.Invoice_Number}}"> {{row.Invoice_Number}} </a></td>
                    </ng-container>
                    <ng-container matColumnDef="Date_invoice_recieved">
                        <th *matHeaderCellDef mat-sort-header> Date Invoice </th>
                        <td *matCellDef="let row">{{row.Date_invoice_recieved}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Date_Quickbooks_Processed">
                        <th *matHeaderCellDef mat-sort-header> Date QB Processed </th>
                        <td *matCellDef="let row">{{row.Date_Quickbooks_Processed}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>

                   <!-- SHOWS WHEN DATA DOES NOT EXIST -->
                    <tr *matNoDataRow>
                        <td class="mat-cell " colspan = "4" > 
                            The filter does not match any item in the data for this text {{input.value}} 
                        </td>
                    </tr>
                </table>
                <mat-paginator class="bg-primary fs-6" [pageSizeOptions]="[10,20,30,40,50]" aria-labels="select page of data"></mat-paginator>    
                
            </div>            
        </div>
    </body>
 </html>
 