<!-- Navigation-->
 <!DOCTYPE html>
 <html lang="en">
    <body>
        <div class="masthead bg-primary">
            <div class="search-div">
                <button class="icon" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon >assessment</mat-icon>
                    <mat-menu #menu="matMenu">
                        <button *ngIf="rol != 'guest'" mat-menu-item>
                            <mat-icon>label_important</mat-icon>
                            <a class="disable-link" href="./dashboard"><span>Metrics</span></a>
                        </button>
                        <button *ngIf="rol === 'cms' || rol === 'administrator'" mat-menu-item>
                            <mat-icon>label_important</mat-icon>
                            <a class="disable-link" href="./cms/performance"><span>CMS Performance</span></a>
                        </button>
                        <button *ngIf="rol === 'qb' || rol === 'administrator'" mat-menu-item>
                            <mat-icon>label_important</mat-icon>
                            <a class="disable-link" href="./qb/performance"><span>QB Performance</span></a>
                        </button>
                    </mat-menu>
                </button>          
                
                <input class="inputfilter" matInput placeholder="Filter Table" search (keyup)="applyFilter($event)" #input/>
            </div>  
            <div>
                <table class="table-primary table table-striped" mat-table matSort [dataSource]="dataSource">
                    <ng-container matColumnDef="ID">
                        <th *matHeaderCellDef mat-sort-header> # </th>
                        <td *matCellDef="let row"> 
                            {{row.ID}}
                            <button *ngIf="row.IDObject===row.ID" class="icon" >
                                <mat-icon mat-stroked-button (click)="openSnackBar(row.comment)">announcement</mat-icon>      
                            </button>   
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="PO_Number">
                        <th *matHeaderCellDef mat-sort-header> PO Number </th>
                        <td *matCellDef="let row">
                            <tr *ngIf="row.PO_NumberObj===row.PO_Number && checkrolcmsdetail()">
                                <a href="./cms/detail/{{row.PO_Number}}">{{row.PO_Number}}</a>
                            </tr>
                            <tr *ngIf="row.PO_NumberObj===row.PO_Number && !checkrolcmsdetail()">
                                {{row.PO_Number}}
                            </tr>
                            <tr *ngIf="row.PO_NumberObj!=row.PO_Number">
                                {{row.PO_Number}}
                            </tr>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Date_CSM_Processed">
                        <th *matHeaderCellDef mat-sort-header> CMS Process Date </th>
                        <td *matCellDef="let row">{{row.Date_CSM_Processed}} </td>
                    </ng-container>
                    <ng-container matColumnDef="PDF_Name">
                        <th *matHeaderCellDef mat-sort-header> Lab Result PDF </th>
                        <td *matCellDef="let row">{{row.PDF_Name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="NamePDF">
                        <th *matHeaderCellDef mat-sort-header> Merge PDF Name </th>
                        <td *matCellDef="let row">{{row.NamePDF}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Invoice_Number">
                        <th *matHeaderCellDef mat-sort-header> Invoice </th>
                        <td *matCellDef="let row">
                            <tr *ngIf="row.InvoiceObj===row.Invoice_Number  && checkrolqbdetail()">
                                <a href="./qb/detail/{{row.Invoice_Number}}">{{row.Invoice_Number}}</a>
                            </tr>
                            <tr *ngIf="row.InvoiceObj===row.Invoice_Number && !checkrolqbdetail()">
                                {{row.Invoice_Number}}
                            </tr>
                            <tr *ngIf="row.InvoiceObj!=row.Invoice_Number">
                                {{row.Invoice_Number}}
                            </tr>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Date_invoice_recieved">
                        <th *matHeaderCellDef mat-sort-header> Invoice Date </th>
                        <td *matCellDef="let row">{{row.Date_invoice_recieved}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Date_Quickbooks_Processed">
                        <th *matHeaderCellDef mat-sort-header> QB Process Date  </th>
                        <td *matCellDef="let row">{{row.Date_Quickbooks_Processed}} </td>
                    </ng-container>
                    <ng-container matColumnDef="DelayQb">
                        <th *matHeaderCellDef mat-sort-header> Delay QB Process </th>
                        <td class="center" *matCellDef="let row">{{row.DelayQb}} </td>
                    </ng-container>
                    <ng-container matColumnDef="DaysSince">
                        <th *matHeaderCellDef mat-sort-header> Days since receive </th>
                        <td class="center" *matCellDef="let row">{{row.DaysSince}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>
                    
                   <!-- SHOWS WHEN DATA DOES NOT EXIST -->
                    <tr *matNoDataRow>
                        <td class="mat-cell " colspan = "10" > 
                            <strong>The filter does not match any item in the data for this text: {{input.value}}</strong>
                        </td>
                    </tr>
                </table>
                <mat-paginator class="bg-primary fs-6" [pageSizeOptions]="[10,20,30,40,50]" aria-labels="select page of data"></mat-paginator>    
                
            </div>            
        </div>
    </body>
 </html>
 