body {
    background: #dedede;
}
.page-wrap {
    min-height: 100vh;
}

.align-items-center{
    height: 50%;
}

.btn-icon{
    margin-top: 200px;
    margin-bottom: 20px;
    color: black;
    transform: scale(3);
}