 <!-- Navigation-->
 <!DOCTYPE html>
 <html lang="en">
    <body>
        <div class="masthead bg-primary">          
            <div class="search-div">         
                <button (click)=onReturn() class="icon">
                    <mat-icon >arrow_back</mat-icon>
                </button> 
                <input class="inputfilter" matInput placeholder="Filter Table" search (keyup)="applyFilter($event)" #input/>
            </div> 
            <div class="bg-primary">
                <table class="table-primary table table-striped" mat-table matSort [dataSource]="dataSource">
                    <ng-container matColumnDef="ID">
                        <th *matHeaderCellDef> # </th>
                        
                        <td class="center" *matCellDef="let col">
                            <p class="align-center">{{col.ID}}</p>
                        </td>
                    </ng-container>
                    
                    <ng-container  matColumnDef="PO_Number">
                        <th *matHeaderCellDef> PO Number </th>
                        <td class="center" *matCellDef="let col">
                            <p class="align-center">{{col.PO_Number}}</p>
                        </td>
                    </ng-container>
                    
                    <form [formGroup]="qbUpdateForm">
                        <ng-container  matColumnDef="Invoice">
                            <th *matHeaderCellDef> Invoice 
                                <mat-error *ngIf="isValidField('Invoice_Number')">
                                    {{getErrorMessage("Invoice_Number")}}
                                </mat-error> 
                                <mat-error *ngIf="ApiMessage">
                                        {{ApiMessage}}
                                </mat-error>
                            </th>
                            
                            <td *matCellDef="let col">
                                <p *ngIf="col.Invoice_Number" class="center">
                                    {{col.Invoice_Number}} </p>
                                <tr *ngIf="!col.Invoice_Number">
                                    <mat-form-field>
                                        <mat-label>Invoice Number</mat-label>
                                        <input matInput type="text" formControlName="Invoice_Number">
                                    </mat-form-field>    
                                </tr>                        
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Reason">
                            <th *matHeaderCellDef> 
                                Reason 
                                <mat-error *ngIf="isValidField('reason')">
                                    {{getErrorMessage("reason")}}
                                </mat-error>
                            </th>
                            <td *matCellDef="let col">
                                <mat-form-field class="full-width-input">
                                    <mat-label>Select reason</mat-label>
                                    <mat-select formControlName="reason">   
                                        <mat-option (click)="otherOption('disable')" value="Incorrect PO number on the invoice.">Incorrect PO number on the invoice.</mat-option>
                                        <mat-option (click)="otherOption('disable')" value="Invoice wasn't sent to Pedro's mailbox.">Invoice wasn't sent to Pedro's mailbox.</mat-option>
                                        <mat-option (click)="otherOption('disable')" value="Invoice email with wrong format.">Invoice email with wrong format.</mat-option>
                                        <mat-option (click)="otherOption('enable')" value="Other">Other</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Comment">
                            <th *matHeaderCellDef> 
                                Comment
                                <mat-error *ngIf="isValidField('comment')">
                                    {{getErrorMessage("comment")}}
                                </mat-error>
                            </th>
                            <td *matCellDef="let col">
                                <mat-form-field class="full-width-input">
                                    <mat-label>comment</mat-label>
                                    <textarea [(ngModel)]="comment" matInput formControlName="comment" rows="1" cols="40">Comment</textarea>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="NamePDF">
                            <th *matHeaderCellDef>
                                Merged PDF Name
                                <mat-error *ngIf="isValidField('file')">
                                    {{getErrorMessage("file")}}
                                </mat-error>
                                <mat-error *ngIf="ApiMessagePDF">
                                    {{ApiMessagePDF}}
                                </mat-error>
                            </th>
                            <td class="center" *matCellDef="let col">
                                <div class="align-center" ng-controller="AppCtrl" layout-margin layout-padding>
                                    <choose-file layout="row" flex="50">
                                        <input formControlName="file" type="file" (change)="onFileSelected($event)">
                                    </choose-file>      
                                </div>
                                <md-input-container flex class="md-block" hidden>
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="NamePDF" value={{fileName}} ng-model="fileName">
                                    </mat-form-field>
                                </md-input-container>
                            </td>  
                        </ng-container>

                    <ng-container matColumnDef="Date_invoice_recieved">
                            <th *matHeaderCellDef> 
                                Invoice Date
                                <mat-error *ngIf="isValidField('Date_invoice_recieved')">
                                    {{getErrorMessage("Date_invoice_recieved")}}
                                </mat-error>
                            </th>
                            <td class="center" required *matCellDef="let col">  
                                <p  *ngIf="col.Date_invoice_recieved" class="align-centerinv"> {{col.Date_invoice_recieved}} </p>
                                <tr *ngIf="!col.Date_invoice_recieved">
                                    <mat-form-field class="full-width-input">
                                        <mat-label>Choose a date</mat-label>
                                        <input formControlName="Date_invoice_recieved" matInput [max]=today [matDatepickerFilter]="weekendFilter" [matDatepicker]="picker">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                  
                                   
                                </tr>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Actions">
                            <th *matHeaderCellDef> Actions </th>
                            <td class="center" *matCellDef="let col">
                                <button 
                                class="submit-button"
                                type="submit"
                                (click)="onUpdate(col.ID)"
                                [disabled]="qbUpdateForm.invalid">
                                    <mat-icon class="align-item">cloud_upload</mat-icon>
                                </button>
                                <i *ngIf="rol === 'administrator'" class="align-item material-icons" (click)="openDialog(col.ID,'0ms', '0ms')">delete</i>
                            </td>
                        </ng-container>
                    </form>

                    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
                    <tr mat-row *matRowDef="let col; columns: displayedColumn"></tr>

                    <!-- SHOWS WHEN DATA DOES NOT EXIST -->
                    <tr *matNoDataRow>
                        <td class="mat-cell" colspan = "10">
                            <strong>You have no pending quickbooks <p *ngIf="input.value"> with this text: {{input.value}}</p></strong> 
                        </td>
                    </tr>
                </table>
                <mat-paginator class="bg-primary" [pageSizeOptions]="[10,20,30,40,50]" aria-labels="select page of data">
                </mat-paginator>
            </div>
        
        </div>
    </body>
 </html>

 

