<!-- Navigation-->
<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="masthead bg-primary">
      <div class="search-div">         
        <button (click)=onRefresh() class="icon">
            <mat-icon >refresh</mat-icon>
        </button> 
        <input class="inputfilter" matInput placeholder="Filter Table">
      </div> 
      <div style="overflow-x:hidden" class="contenedor">
        <mat-card class="metric-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Records Founded</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <ngx-charts-advanced-pie-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="PO_FoundData"
            [gradient]="gradient"
            >
          </ngx-charts-advanced-pie-chart>
          </mat-card-content>
          <mat-divider></mat-divider>
        </mat-card>
  
        <mat-card class="metric-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>PO Loaded in CMS</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <ngx-charts-advanced-pie-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="PO_LoadedData"
            [gradient]="gradient"
            >
          </ngx-charts-advanced-pie-chart>
          </mat-card-content>
          <mat-divider></mat-divider>
        </mat-card>
  
        <mat-card class="metric-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Invoices Founded</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <ngx-charts-advanced-pie-chart
            [view]="view"
            scheme="cool"
            [results]="Invoices_FoundData"
            [gradient]="gradient"
            >
          </ngx-charts-advanced-pie-chart>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card-footer>
        </mat-card>
  
        <mat-card class="metric-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Invoices Resume</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <ngx-charts-advanced-pie-chart
            [view]="view"
            scheme="cool"
            [results]="Invoices_LoadedData"
            [gradient]="gradient"
            >
          </ngx-charts-advanced-pie-chart>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </body>
</html>