<!-- Navigation-->
<!DOCTYPE html>
<html>
   <body>
       <div class="masthead bg-primary">
           <div class="search-div">
                <button (click)=onReturn() class="icon">
                    <mat-icon >arrow_back</mat-icon>
                </button>          
                <input class="inputfilter" matInput placeholder="Filter Table" search (keyup)="applyFilter($event)" #input/>
           </div>  
           <div>
               <table class="table-primary table table-striped" mat-table matSort [dataSource]="dataSource">
                    <ng-container matColumnDef="ID">
                        <th *matHeaderCellDef mat-sort-header> # </th>
                        <td *matCellDef="let row"> {{row.ID}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Date">
                        <th *matHeaderCellDef mat-sort-header> Date </th>
                        <td *matCellDef="let row">{{row.Date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="PONumber">
                    <th *matHeaderCellDef mat-sort-header> PO Number </th>
                    <td *matCellDef="let row">{{row.PONumber}} </td>
                    </ng-container>
                    <ng-container matColumnDef="InvoiceNumber">
                        <th *matHeaderCellDef mat-sort-header> Invoice </th>
                        <td *matCellDef="let row">{{row.InvoiceNumber}} </td>
                    </ng-container>
                    <ng-container matColumnDef="State">
                        <th *matHeaderCellDef mat-sort-header> State  </th>
                        <td *matCellDef="let row">{{row.State}} </td>
                    </ng-container>
                   <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
                   <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>

                  <!-- SHOWS WHEN DATA DOES NOT EXIST -->
                   <tr *matNoDataRow>
                       <td class="center mat-cell " colspan = "10" > 
                        here are no datails for this Invoice; it was not processed by PEDRO. {{input.value}} 
                       </td>
                   </tr>
               </table>
               <mat-paginator class="bg-primary fs-6" [pageSizeOptions]="[10,20,30,40,50]" aria-labels="select page of data"></mat-paginator>    
               
           </div>            
       </div>
   </body>
</html>
